<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2-5-9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38AFB4D61E963023005EB3B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38AFB4EF1E963023005EB3B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38AFB4FA1E963023005EB3B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
